<mat-grid-list class="headers" cols="3" rowHeight="50px">
    <mat-grid-tile>Status</mat-grid-tile>
    <mat-grid-tile>Description</mat-grid-tile>
    <mat-grid-tile>Date</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="50px" *ngFor="let incident of resource.incidents_history | reverse | slice:0:5; let i=index">
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      <mat-icon matListIcon [ngClass]="['resource-status-' + incident.status]">
          {{ getIcon(incident.status) }}
      </mat-icon>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
    {{incident.description}}
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
    {{incident.occurrence_date | date:'hh:mm dd/MM/yyyy'}}
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="load-more" cols="1" rowHeight="50px">
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="showIncidents(resource.id)">Show all incidents</button>
    </mat-grid-tile>
</mat-grid-list>