.history-component {
    display:flex;
    align-items: center;
    justify-content: center;
}
.incidents-calendar {
    /* max-width: 50%; */
    /* margin: 0 auto; */
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    /* display:flex;
    align-items: center;
    justify-content: center; */
}

.calendar-header {
    position: absolute;
    top: 5px;
    width: 100%;
}

.calendar-month-selector {
    display:flex;
    align-items: center;
    justify-content: center;
}

.calendar-body {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 80%;
}

.calendar-weekdays {
    width: 100%;
    text-align: center;
    color: grey;
    border: 1px;
    border-bottom-style: dashed;
    table-layout: fixed
}

.calendar-day-selector {
    width: 100%;
    height: 80%;
}
.calendar-day {
    text-align: center;
    color: grey;
}

.calendar-today {
    font-weight: bold;
    color: blueviolet;    
}

.calendar-incident {
    font-weight: bold;
    color: firebrick;    
}

.calendar-incident:hover {
    background-color:whitesmoke;
}

/deep/ .mat-calendar-period-button.mat-button {
    display: none;
}

/deep/ .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: transparent;
    color: blueviolet;
    font-weight: bold;
}

.status-0 {
    color: forestgreen;
    font-weight: bold;
}
.status-1 {
    color: gold;
    font-weight: bold;
}
.status-2 {
    color: firebrick;
    font-weight: bold;
}

.incident-timeline {
    min-width: 100%;
    min-height: 100%;
}

.history-detail-description {
    color: gray;
}

/deep/ .mat-step-header .mat-step-icon,
/deep/ .mat-step-header .mat-step-icon-not-touched {
    background-color: transparent;
    color: black;
}
