<mat-grid-list cols="3" class="history-component">
    <mat-grid-tile [colspan]="1" class="incidents-calendar">
        <div class="calendar-header">
            <div class="calendar-month-selector">
                <i [ngClass]="['material-icons', 'noselect','clickable']" (click)="prevMonth()">keyboard_arrow_left</i>
                <span>{{ currentDate.toLocaleString(locale, { month: "short", year: 'numeric' }).toUpperCase() }}</span>
                <i [ngClass]="['material-icons', 'noselect','clickable']" (click)="nextMonth()">keyboard_arrow_right</i>
            </div>
        </div>
        <div class="calendar-body">
            <table class="calendar-weekdays">
                <tr>
                    <td *ngFor="let wd of weekDays" class="noselect">{{ wd }}</td>
                </tr>
            </table>
            <table class="calendar-day-selector">
                <tr *ngFor="let week of weeks">
                    <td (click)="hasIncident(day) && showIncidentsDetail(day)" *ngFor="let day of week" [ngClass]="[
                            'calendar-day',
                            'noselect',
                            isToday(day) ? 'calendar-today' : '',
                            hasIncident(day)  ? 'clickable' : '',
                            hasIncident(day) ? 'calendar-incident' : ''
                        ]">
                        {{ day }}
                    </td>
                </tr>
            </table>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
            <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false"
            style="min-width: 100%;height: 100%; overflow-y: scroll;">
            <mat-vertical-stepper class="incident-timeline">
                <ng-template matStepperIcon="edit">
                    <mat-icon matListIcon style="font-size: 1.5em;">
                        calendar_today
                    </mat-icon>
                </ng-template>
                <ng-template matStepperIcon="done">
                    <mat-icon matListIcon style="font-size: 1.5em;">
                        calendar_today
                    </mat-icon>
                </ng-template>
                <ng-template matStepperIcon="number">
                    <mat-icon matListIcon style="font-size: 1.5em;">
                        calendar_today
                    </mat-icon>
                </ng-template>
                <mat-step *ngFor="let i of incidentsDetails">
                    <ng-template matStepLabel>
                        {{ i.component }}
                    </ng-template>
                    <div>
                        <span style="display:flex;">
                            <mat-icon matListIcon style="font-size: 1.2em;">
                                access_time
                            </mat-icon>
                            <span >{{ i.incident.occurrence_date | date:'hh:mm' }}</span>
                        </span>
                        <br>
                        <span style="display:flex;">
                            <mat-icon matListIcon style="font-size: 1.2em;" [ngClass]="['status-' + i.incident.status]">
                                {{ getIcon(i.incident.status) }}
                            </mat-icon>
                            <span class="history-detail-description">{{ i.incident.description }}</span>
                        </span>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </mat-grid-tile>
</mat-grid-list>


