.resource-status-0 {
    color: forestgreen;
}

.resource-status-1 {
    color:gold;
}
.resource-status-2 {
    color: firebrick;
}

.headers {
    font-weight: bold;
}

.resource-incidents-table{
    background: white;
}