.resource-status {
    padding-right: 5px;
}

.resource-status-0 {
    color: forestgreen;
}

.resource-status-1 {
    color:gold;
}
.resource-status-2 {
    color: firebrick;
}

.filter-resources {
    padding-left: 10px;
}

.description {
    text-align:center;
    width: 100%;
    margin: auto;
}

/deep/ .mat-expansion-panel-header {
    padding-left: 2px !important;
}

/deep/ .mat-expansion-panel-header-description {
    position: fixed;
    min-width: 100%;
    align-items: center;
}

/deep/ .mat-expansion-panel-header-title {
    /* justify-content: space-between; */
    align-items: center;
}